.logo{
    width: 15%;
    vertical-align: middle;
    margin-bottom: 10px;
}

td, th{
    border: 1px black solid;
}

label{
    display: block;
    margin: 10px 0 3px 0;
}

.logo-lenguajes{
    width: 20%;
}

